<mj-text font-size="12px" font-style="italic">
  <span
    >L'<a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000035274717/2020-11-09/">
      arrêté du 17 juillet 2017
    </a></span
  >, au 7e alinéa de l’article 4, précise que seuls les directeurs des organismes responsables des offres de formation
  sont habilités à recevoir les données transmises mentionnées à l’article 3 de ce même arrêté. En 2023, un arrêté (à
  paraître) permet aux directeurs d'organismes responsables de déléguer les droits de réception directe des listes de
  candidats à d'autres personnes.
</mj-text>
