<mj-text font-size="12px">
  Les étapes de la procédure 2023 :
  <ul>
    <li>
      <b>Phase 1 : Mai</b>
      <br />
      Confirmation par les directeurs des OFA de l’adresse courriel de contact, création de leur mot de passe et
      délégation éventuelle de droit d’accès aux listes des candidats.
      <br />
    </li>
    <li>
      <b>Phase 2 : Semaine du 5 juin</b>
      <br />
      Diffusion des notifications de mise à disposition des listes de candidats aux personnes habilitées au sein des
      OFA. Téléchargement des listes.
    </li>
    <li>
      <b>Phase 3 : Semaine du 3 juillet</b>
      <br />
      Le cas échéant, diffusion des notifications de mise à jour des listes de candidats (suppressions, ajouts ou
      modifications de candidatures issues d’Affelnet)
    </li>
  </ul>
</mj-text>
