<mj-text font-size="12px">
  Les étapes de la procédure :
  <ul>
    <li>
      <b>Phase 1 : Mai</b>
      <br />
      Confirmation par les directeurs des organismes responsables de l’adresse courriel de contact, création de leur mot
      de passe et délégation éventuelle de droit d’accès aux listes des candidats.
      <br />
    </li>
    <li>
      <b>Phase 2 : 1ère semaine de juin</b>
      <br />
      Diffusion des notifications de mise à disposition des listes de candidats aux personnes habilitées au sein des
      organismes. Téléchargement des listes.
    </li>
    <li>
      <b>Phase 3 : dernière semaine de juin</b>
      <br />
      Le cas échéant, diffusion des notifications de mise à jour des listes de candidats (suppressions, ajouts ou
      modifications de candidatures)
    </li>
  </ul>
</mj-text>
