<mj-text>
    Procédure de transmission des candidats à l’ apprentissage en 2022 :
    <ul>
        <li>
            La transmission de vœux s’effectuera en 3 temps : dans la semaine du 6 juin, dans la
            semaine du
            20 juin et dans la semaine du 4 juillet. Des emails de notification sont envoyés au
            directeur de
            l’établissement à chacune de ces dates, <strong>uniquement si des vœux sont
                exprimés</strong> sur l’un
            des
            établissements dont vous avez la charge.
        </li>
        <li>
            <strong>
                Si votre établissement est responsable d’autres établissements d’accueil, la
                connexion
                à votre
                compte vous permettra de télécharger les listes pour chaque établissement sur
                lesquels
                des vœux
                ont été exprimés.
            </strong>
        </li>
        <li>La première notification invitera d’abord à définir un mot de passe pour activation du
            compte.
            Après connexion, le fichier de vœux pourra être immédiatement téléchargé.
        </li>
        <li>Pour chaque notification, en l’absence de téléchargement, deux emails de rappel seront
            envoyés.
        </li>
    </ul>
</mj-text>

<mj-text>
    La réception de vœux pour votre établissement vous engage à une réponse auprès des jeunes qui
    les ont émis. Ceci permettra d’établir plus rapidement avec eux un premier contact et favorisera
    l’efficacité de l’accompagnement vers l’emploi que vous leur proposerez.
</mj-text>
