<mj-text font-size="12px">
  Procédure de transmission des candidats à l’apprentissage en 2023 :

  <ul>
    <li>
      Phase 1 : une première campagne courriel est diffusée en première quinzaine de mai, afin d’identifier les
      directeurs d’organismes responsables, confirmer leur adresse email, et leur permettre de créer leur mot de passe
      de connexion au service.
      <br />
      <%- include('./arrete.ejs'); %>
    </li>
    <li>
      Phase 1bis (optionnelle) : les directeurs d’organismes responsables activent, s’ils le souhaitent, des délégations
      de droits permettant à d’autres personnes d’accéder au service de téléchargement des listes pour les organismes
      formateurs. Chaque organisme formateur peut faire l’objet d’une délégation de droits distincte.
    </li>
    <li>
      Phase 2 : dans la semaine du 5 juin, diffusion par courriel des notifications de mise à disposition des listes de
      candidats. Cette diffusion est effectuée auprès des personnes habilitées (qui auront préalablement créé leur
      compte pour l’accès au service).
    </li>
    <li>
      Phase 3 : dans la semaine du 3 juillet, diffusion par courriel des notifications de mise à jour des listes de
      candidats (le cas échéant). Les mises à jour peuvent correspondre à des suppressions, ajouts ou modifications de
      candidatures.
    </li>
  </ul>
</mj-text>
