
<mj-table>
    <tr style="text-align:left;padding:15px 0;">
        <th>Anne Becquet</th>
    </tr>
    <tr>
        <td >beta.gouv.fr</td>
    </tr>
    <tr>
        <td >Services du Premier Ministre - Intrapreneuse Mission
            Apprentissage
        </td>
    </tr>
    <tr>
        <td >
            <a href="https://maps.google.com/?q=20,+Avenue+de+S%C3%A9gur,+75007+Paris&entry=gmail&source=g">
                20 Avenue de Ségur 75007 Paris
            </a>
        </td>
    </tr>
    <tr>
        <td ><a href="https://twitter.com/BetaGouv">@BetaGouv</a></td>
    </tr>
    <tr>
        <td style="padding: 0 15px 0 0;">+33.(0)6.83.85.57.74</td>
    </tr>
</mj-table>
