<mj-text padding-top="20px">
    <strong>Mission interministérielle pour l'apprentissage</strong>
    <br>
    <a target="_blank" href="https://mission-apprentissage.gitbook.io/general/" class="link-nostyle">
        En savoir plus sur la Mission
    </a>
</mj-text>
